name: golangci-lint
on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      
      - name: Fix dependencies
        run: go mod tidy
      
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
